@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}

/* Section About Yosemite................................................................................ */

.about-yosamite {
    background-image: url(../img/about-location/section-about-yosemite/bg.jpg);
    padding: 80px 0;
}

.about-yosamite-box {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

.about-yosamite-content {
    max-width: 55%;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-yosamite-text {
    text-align: center;
}

.about-yosamite-text h2 {
    font-weight: 500;
    font-size: 34px;
    font-family: "Circular Std", serif;
    line-height: 40px;
}

.about-yosamite-text p {
    font-weight: 400;
    margin-top: 45px;
}

.about-yosamite-photo {
    display: flex;
    justify-content: center;
    margin: 45px 0 0 0;
    max-height: 400px;
}

.about-yosamite-photo img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.empty-column {
    display: none;
}


.section-form {
    background-image: url(../img/about-location/section-form/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-form-boxes {
    padding: 80px 24px;
}

.section-form-text-box {
    margin-top: 30px;
}

.section-form-box-big-text {
    color: white;
    text-align: left;
    font-family: "Circular Std", serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

.section-form-box-small-text {
    color: white;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 30.4px;
}

.section-form-box {
    background-color: rgba(40, 37, 32, 0.8);
    padding: 31px 27px;
}

.section-form-input {
    margin-bottom: 24px;
}

.section-form-input input {
    background-color: rgba(255, 255, 255, 0.24);
    border: 0;
    padding: 16px 24px;
    border-radius: 34px;
    width: 100%;
    outline-color: #3b99fc;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.568);

}

.section-form-button {
    margin-top: 36px;
    padding: 16px 24px;
    width: 100%;
    border: 0;
    background-color: #f98250;
    border-radius: 34px;
}

.section-form-button span {
    color: white;
}

/* Media...................................................................... */
@media (min-width: 750px) {
    .about-yosamite-box {
        padding: auto;
    }

    .empty-column {
        display: block;
        padding: 0 15px;
        width: 45%;
        height: auto;
    }

    .about-yosamite-box-desc {
        display: flex;
        flex-direction: row;
    }

    .about-yosamite-text h2 {
        font-size: 39px;
        line-height: 46px;
    }

    .services-card-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 45%;
        margin: 0 10px;
    }

    .section-form-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .section-form-box {
        width: 30%;
    }
}

@media (min-width: 980px) {
    .card {
        width: 30%;
    }
}